{%extends 'inicio.html'%}
{%block base%}
<div class="secao-main" style="height: 100%; width: 100%;">
    <div class="area-secao ps-4 pt-2 pb-2 pe-2 d-flex align-items-center border-bottom">
      <span class="nome-secao text-black-50">
        Alterar Serviço
      </span>
    </div>
    <div class="secao-extra d-flex justify-content-center row m-0">
        <div class="postos-info-viagens d-flex flex-wrap justify-content-center p-5 m-0" style="width: 90%; min-width: 367px;">

            <form action="{% url 'inserir-servico-alterado' servico.id %}" class="w-75 d-flex justify-content-center" method="POST">
                {% csrf_token %}

                <div class="d-flex flex-column p-4 align-items-center border rounded" style="background-color: rgba(218, 216, 216, 0.582); min-width: 367px; width: 80%;">
                    <label class="h4 text-black-50 text-center">Alterar Serviço</label>
                    <div class="d-flex align-items-center p-3 row p-0 w-100">
                        <div class="pe-3 ps-3 col-lg-2 text-center pb-2">Serviço:</div>
                        <input class="text-black-50 text-center border-0 col-lg" type="text" value="{{servico.nome}}" name="servico">
                    </div>
                    
                    <input class="btn btn-success mt-3 w-50" type="submit" value="Salvar">
                </div>
            </form>
            
        </div>

    </div>
</div>
{%endblock base%}