{%extends 'recibos.html'%}
{%block area-botao%}
    <div class="cab-tab-recibos-first row border-bottom d-flex align-items-center" style="height: 60px; width: 100%;">
        <div class="cel-tab-recibos col-2 border-end d-flex align-items-center text-black-50"><span>Loja</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>Data viagem</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>Colaborador</span></div>
        <div class="cel-tab-recibos col-2 d-flex align-items-center text-black-50"><span>Ver recibo</span></div>
    </div>
    <div class="cab-tab-recibos row border-bottom d-flex align-items-center text-black-50" style="height: 60px; width: 100%;">
        <div class="cel-tab-recibos col-2 border-end d-flex align-items-center text-black-50"><span>SVN</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>09/04/2024</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>Joseph</span></div>
        <div class="cel-tab-recibos col-2 d-flex align-items-center text-black-50"><span>link</span></div>
    </div>
    <div class="cab-tab-recibos row border-bottom d-flex align-items-center text-black-50" style="height: 60px; width: 100%;">
        <div class="cel-tab-recibos col-2 border-end d-flex align-items-center text-black-50"><span>SVN</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>09/04/2024</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>Joseph</span></div>
        <div class="cel-tab-recibos col-2 d-flex align-items-center text-black-50"><span>link</span></div>
    </div>
    <div class="cab-tab-recibos row border-bottom d-flex align-items-center text-black-50" style="height: 60px; width: 100%;">
        <div class="cel-tab-recibos col-2 border-end d-flex align-items-center text-black-50"><span>SVN</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>09/04/2024</span></div>
        <div class="cel-tab-recibos col-4 border-end d-flex align-items-center text-black-50"><span>Joseph</span></div>
        <div class="cel-tab-recibos col-2 d-flex align-items-center text-black-50"><span>link</span></div>
    </div>
{%endblock area-botao%}