<div>
    <div class="h4 text-center mt-3 text-black-50">Serviços Cadastrados</div>
    {% if request.user.is_staff %}
        <div class="row d-flex mt-4 ms-1 me-1 rounded-top thead-dark bg-secondary">
            <div class="col-xxl-2 d-flex border-end justify-content-center p-2 text-white"><span>ID</span></div>
            <div class="col-xxl-6 d-flex border-end justify-content-center p-2 text-white"><span>Tipo</span></div>
            <div class="col-xxl-2 d-flex border-end justify-content-center p-2 text-white"><span>Editar</span></div>
            <div class="col-xxl-2 d-flex justify-content-center p-2 text-white"><span>Excluir</span></div>
        </div>
        {% for servico in servicos%}
        <div class="row d-flex ms-1 me-1 border-start border-bottom border-end">
            <div class="col-xxl-2 d-flex  border-end justify-content-center p-2 text-black-50">{{servico.id}}</div>
            <div class="col-xxl-6 d-flex border-end justify-content-center p-2 text-black-50 overflow-auto">{{servico.nome}}</div>
            <div class="col-xxl-2 d-flex border-end justify-content-center p-2">
                <a class="btn d-flex align-items-center" href="{% url 'alterar-servico' servico.id %}">
                    <span class="material-icons pe-1 text-warning">edit</span>
                    <span class=" text-black-50">Editar</span>
                </a>
            </div>
            <div class="col-xxl-2 d-flex justify-content-center p-2">
                <a class="btn d-flex align-items-center" href="{% url 'excluir-servico' servico.id %}">
                    <span class="material-icons pe-1  text-danger">delete</span>
                    <span class=" text-black-50">Excluir</span>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row d-flex mt-4 ms-1 me-1 rounded-top thead-dark bg-secondary">
            <div class="col-xxl-2 d-flex border-end justify-content-center p-2 text-white"><span>ID</span></div>
            <div class="col-xxl-10 d-flex border-end justify-content-center p-2 text-white"><span>Tipo</span></div>
        </div>
        {% for servico in servicos%}
        <div class="row d-flex ms-1 me-1 border-start border-bottom border-end">
            <div class="col-xxl-2 d-flex  border-end justify-content-center p-2 text-black-50">{{servico.id}}</div>
            <div class="col-xxl-10 d-flex border-end justify-content-center p-2 text-black-50 overflow-auto">{{servico.nome}}</div>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="botoes-paginacao d-flex justify-content-end pe-3 mt-3">
    <div class="btn-group">
        {% if servicos.has_previous %}
        <div class="btn btn-secondary" hx-get="{% url 'consulta-servicos' %}?page={{servicos.previous_page_number}}" hx-target="#consulta-content" hx-swap="innerHTML" hx-trigger="click">&lt;</div>
        {% else %}
        <div class="btn btn-secondary">&lt;</div>
        {% endif %}
        <div class="btn btn-secondary">{{servicos.number}}</div>
        {% if servicos.has_next %}
        <div class="btn btn-secondary" hx-get="{% url 'consulta-servicos' %}?page={{servicos.next_page_number}}" hx-target="#consulta-content" hx-swap="innerHTML" hx-trigger="click">&gt;</div>
        {% else %}
        <div class="btn btn-secondary">&gt;</div>
        {% endif %}
    </div>
</div>
