<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Consulta de senha de usuario</h5>
      </div>
      <div class="modal-body">
        <p>ID: {{usuario.id}} </p>
        <p>Usuario:{{usuario.username}}</p>
        <p>Senha: {{usuario.senha_raw}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>