{%extends 'inicio.html'%}
{%block base%}
<div class="secao-main" style="height: 100%; width: 100%;">
    <div class="area-secao ps-4 pt-2 pb-2 pe-2 d-flex align-items-center border-bottom">
      <span class="nome-secao text-black-50">
        Cadastros
      </span>
    </div>
    <div class="secao-extra d-flex justify-content-center row m-0" style="width: 100%;">
        <div class="postos-info-viagens d-flex flex-wrap justify-content-start p-0 m-0" style="width: 90%; min-width: 367px">
            <a class="" href="{% url 'cadastro-usuarios' %}">
                <div class="box-categorias cat-usuario">
                    <div class="titulo-categoria">Usuarios</div>
                    <div class="box-categoria-icone material-icons">person_add</div>
                </div>
            </a>
            <a class="" href="{% url 'cadastro-lojas'%}">
                <div class="box-categorias cat-loja">
                    <div class="titulo-categoria">Lojas</div>
                    <div class="box-categoria-icone material-icons">add_business</div>
                </div>
            </a>
            <a class="" href="{% url 'cadastro-suportes' %}">
                <div class="box-categorias cat-suporte">
                    <div class="titulo-categoria">Suportes</div>
                    <div class="box-categoria-icone material-icons">assignment_ind</div>
                </div>
            </a>
            <a class="" href="{% url 'cadastro-servicos' %}">
                <div class="box-categorias cat-servico">
                    <div class="titulo-categoria">Serviços</div>
                    <div class="box-categoria-icone material-icons">build_circle</div>
                </div>
            </a>    
            <a class="" href="{% url 'cadastro-viagens' %}">
                <div class="box-categorias cat-viagem">
                    <div class="titulo-categoria">Viagens</div>
                    <div class="box-categoria-icone material-icons">drive_eta</div>
                </div>
            </a>
            
  
        </div>

    </div>
</div>
{%endblock base%}
